{{#each photos}}
      <div id="mainPhotoContainer">
      <img id="mainPhotoImg" src={{link}}></img>
      <a href=""><div id="like">{{likes}} Likes</div></a> 
    </div>
    <div id="mainPhotoHeading">{{title}}</div>
{{/each}}
