{{#each photos}}
  <div id="mainPhotoContainer">
    <div id="mainPhotoHeading">{{title}}</div>
    <img id="mainPhotoImg" src={{link}}></img>
    <a href=""><div id="like">{{likes}} Likes</div></a>
  </div> 
{{/each}}