<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
  <meta charset="UTF-8">
  <title>_ARCHITEKT</title>
</head>
<body>
  {{{body}}}
</body>
</html>

<style>
body{
  background-color: white;
  font-family: 'Playfair Display', serif;

}

/*zoom*/
#mainPhotoImg:hover{
   box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}

#register:hover{
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
     -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.25); }

#login:hover{
]    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.25);
}

#user-list{
  width:100px;
  height: 150px;
  background-color: white;
  font-size: 70px;
  color: grey;
  font-family: times new roman;
  font-style: bold;
  display: flex-wrap;

}

#topLine{
  flex: 1 0 80%;
  margin-bottom: 10px;
  border: 1px dotted lightgrey;

}
#headContainer{
  display: flex;
  justify-content: center;
}
#title{
  width: 700px;
  height: 150px;
  background-color: white;
  font-size: 70px;
  color: grey;
  font-family: times new roman;
  font-style: bold;
}

#titleSeperator{
  width: 1px;
  height: 80px;
  background-color: lightgrey;
  margin-left: 43px;
  margin-right: 34px;
}
#rightTitle{
  width:300px;
  height: 150px;
  font-size: 14px;
  color: lightgrey;
}

#mainSubHeadSeperator{
  width:100%;
  height: 10px;
}
.subHeadingContainer{
  display: flex;
  justify-content: center;

}

#subHeading{
  width: 700px;
  height: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  color: lightgrey;
}

#subHeadingSeperator{
  width:40px;
  margin-left: 20px;
  margin-right: 20px;
}
#subHeadingSide{
  width:300px;
  height: 20px;
  display:flex;
  justify-content: space-around;
}

#register{
  height: 20px;
  width: 140px;
  text-align: center;
  border: 1px solid white;
  background-color: lightgrey;
  border-radius: 5px;
  color:grey;
  font-size: 12px;
}
#login{
  margin-left: 20px;
  height: 20px;
  width: 140px;
  text-align: center;
  border: 1px solid white;
  background-color: lightgrey;
  border-radius: 5px;
  color:grey;
  font-size: 12px;
}

#bodyContainer{
  display: flex;
  justify-content: center;
}
#bodyMain{
  display: flex-wrap;
  justify-content: center;
}
#mainPhotoContainer{
  position: relative;
}
#mainPhotoImg{
  max-width: 700px;
  height: 500px;
}
#like{
  position: absolute;
  top:460px;
  left:630px;
  padding: 5px;
  background-color: lightgrey;
  opacity: 0.5;
}
#like:hover{
  position: absolute;
  top:460px;
  left:630px;
  padding: 5px;
  border: 2px solid black;
  background-color: lightgrey;
  opacity: 0.5;
}
#edit{
  position: absolute;
  top:460px;
  left:580px;
  padding: 5px;
  background-color: lightgrey;
  opacity: 0.5;
}
#edit:hover{
  position: absolute;
  top:460px;
  left:580px;
  padding: 5px;
  border: 2px solid black;
  background-color: lightgrey;
  opacity: 0.5;
}
#delete{
  position: absolute;
  top:460px;
  left:505px;
  padding: 5px;
  background-color: lightgrey;
  opacity: 0.5;
}
#delete:hover{
  position: absolute;
  top:460px;
  left:505px;
  padding: 5px;
  border: 2px solid black;
  background-color: lightgrey;
  opacity: 0.5;
}

#facebook{
  position: absolute;
  max-width: 40px;
  max-height: 32px;
  top:455px;
  left:580px;
  padding: 5px;
  opacity: 0.5%;
}
#facebook:hover{
  position: absolute;
  max-width: 40px;
  max-height: 32px;
  top:455px;
  left:580px;
  padding: 5px;
  opacity: 0.5%;
}
#mainPhotoHeading{
  margin-top: 20px;
  height: 20px;
  max-width: 700px;
  font-size: 14px;
  color: lightgrey;

}
#bodySeperator{
  width:40px;
  height: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
#bodySide{
  width:300px;
}
.photoSideBar{
  width: 300px;
  height: 250px;

}
#sidePhotoHead{
  width: 300px;
  height: 30px;
  font-size: 11px;
  color: lightgrey;

}

#backhome{
  width: 900px;
}

#currentUser{
  color: black;
}


/*animate*/

img.mainPhotoImg:hover
{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

</style>
