<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>_ARCHITEKT</title>
</head>
<body>
  {{{body}}}
</body>
</html>

<style>
body{
  background-color: white;

}

#topLine{
  flex: 1 0 80%;
  margin-bottom: 10px;
  border: 1px dotted lightgrey;

}
#headContainer{
  display: flex;
  justify-content: center;
}
#title{
  flex: 0 0 58%;
  height: 150px;
  background-color: red;
}

#titleSeperator{
  flex: 0 0 1%;
  height: 150px;
  background-color: yellow;
  margin-left: 20px;
  margin-right: 20px;
}
#rightTitle{
  flex: 0 0 28%;
  height: 150px;
  background-color: red;
}
#contentContainer{
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
#mainPhoto{
  flex: 0 0 58%;
  height: 600px;
  background-color: red;
}
#mainSeperator{
  flex: 0 0 1%;
  height: 150px;
  margin-left: 20px;
  margin-right: 20px;
}
#rightSideBar{
  flex: 0 0 28%;
  display: flex;
  justify-content: center;
}

#photoOne{
  width: 300px;
  height: 200px;
  background-color: green;
}

</style>
