<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>_ARCHITEKT</title>
</head>
<body>
  {{{body}}}
</body>
</html>

<style>
body{
  background-color: white;

}

#topLine{
  flex: 1 0 80%;
  margin-bottom: 10px;
  border: 1px dotted lightgrey;

}
#headContainer{
  display: flex;
  justify-content: center;
}
#title{
  width: 700px;
  height: 150px;
  background-color: red;
}

#titleSeperator{
  width:40px;
  height: 150px;
  background-color: yellow;
  margin-left: 20px;
  margin-right: 20px;
}
#rightTitle{
  width:300px;
  height: 150px;
  background-color: red;
}

#mainSubHeadSeperator{
  width:100%;
  height: 10px;
}
.subHeadingContainer{
  display: flex;
  justify-content: center;

}

#subHeading{
  width: 700px;
  background-color: grey;
  height: 20px;
}

#subHeadingSeperator{
  width:40px;
  height: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: yellow;
}
#subHeadingSide{
  width:300px;
  background-color: green;
  height: 20px;
}

#bodyContainer{
  display: flex;
  justify-content: center;
}
#bodyMain{
  display: flex-wrap;
  justify-content: center;
}
#mainPhoto{
  width: 700px;
  max-width: 700px;
  background-color: red;
  height: 200px;

}
#mainPhotoHeading{

  background-color: grey;
  height: 20px;

}
#bodySeperator{
  width:40px;
  height: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: yellow;

}
#bodySide{
  width:300px;
}

















#contentContainer{
  display: flex;
  justify-content: center;
}
#mainPhoto{
  max-width: 700px;
  height: 500px;
  background-color: red;
}
#mainSeperator{
  flex: 0 0 1%;
  height: 150px;
  margin-left: 20px;
  margin-right: 20px;
}

#rightSideBar{
  flex: 0 0 28%;
  display: flex-wrap;
  justify-content: center;
}

.photoSideBar{
  width: 300px;
  height: 250px;
  background-color: green;
}
#sidePhotoHead{
  width: 300px;
  height: 30px;
  background-color: grey;

}

</style>
