 <form action="/users/edit" method="PUT">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit"></input>
  </form>





{{!-- styles --}}
<style>
  


</style>