<div id="topLine"></div>
<div id="headContainer">
  <div id="title">_ARCHITEKT</div>
  <div id="titleSeperator"></div>
  <div id="rightTitle">Like they're actually proud of that shit. This gun is advertised as the most popular gun in American crime. says book that comes with it: the most popular gun in American crime.<br><br><br><span id="currentUser">
  {{#if id}}
    {{id}}
  {{else}}
    Aloha!
  {{/if}}</div>
</div>
<div id="mainSubHeadSeperator"></div>
<div class="subHeadingContainer">
  <div id="subHeading">Mountain Hill Cabin Winter - www.fantasticnormway.no</div>
  <div id="subHeadingSeperator"></div>
  <div id="subHeadingSide">
    <form action="/users/register" method="get"><button id="register">_Register</button>
    </form>
    <form action="/users/login" method="get"><button id="login">_Login</button>
    </form>
  </div>
</div>

<div id="bodyContainer">
  <div id="bodyMain">
    {{>gallery}}
  </div>

  <div id="bodySeperator"></div>
  <div id="bodySide">
    {{>photos-list}}
  </div> 
</div>