<div id="topLine"></div>
<div id="headContainer">
  <div id="title"></div>
  <div id="titleSeperator"></div>
  <div id="rightTitle"></div>
</div>
<div id="mainSubHeadSeperator"></div>
<div class="subHeadingContainer">
  <div id="subHeading"></div>
  <div id="subHeadingSeperator"></div>
  <div id="subHeadingSide"></div>
</div>

<div id="bodyContainer">
  <div id="bodyMain">
    <img id="mainPhoto" src="http://bit.ly/2gw5Hbq"></img>
    <div id="mainPhotoHeading"></div>
  </div>

  <div id="bodySeperator"></div>
  <div id="bodySide">
    <img class="photoSideBar" src="http://bit.ly/2zBGqBn"></img>
    <div id="sidePhotoHead"></div>
    <img class="photoSideBar" src="http://bit.ly/2zBGqBn"></img>
    <div id="sidePhotoHead"></div>
      <img class="photoSideBar" src="http://bit.ly/2zBGqBn"></img>
    <div id="sidePhotoHead"></div>
  </div> 
</div>