<div id="topLine"></div>
<div id="headContainer">
  <div id="title">_NOT_FOUND_404</div>
  <div id="titleSeperator"></div>
  <div id="rightTitle">Our members are dedicated to a photography lifestyle. Our members are dedicated to a photography lifestyle. Our members are dedicated to a photography lifestyle.</div>
</div>
<div id="mainSubHeadSeperator"></div>
<div class="subHeadingContainer">
  <div id="subHeading"></div>
  <div id="subHeadingSeperator"></div>
  <div id="subHeadingSide">
    <form action="/" method="get"><button id="register">_Register</button>
    </form>
    <form action="/users/login" method="get"><button id="login">_Login</button>
    </form>
  </div>
</div>

<div id="bodyContainer">
  <div id="bodyMain">
        <a href="/photos"><img id="mainPhoto" src="http://bit.ly/29ig5ir"></img></a>
    <div id="mainPhotoHeading"></div>

  </div>

  <div id="bodySeperator"></div>
  <div id="bodySide">
    {{>all-users}}
  </div> 
</div>

<script>
setTimeout(function() {
  window.location = "http://localhost:3000/takingyoubackhome";
}, 3000)
  
</script>