<div id="topLine"></div>
<div id="headContainer">
  <div id="title">_{{photos.username}}</div>
  <div id="titleSeperator"></div>
  <div id="rightTitle">{{photos.description}}<br><br><br><span id="currentUser">
  {{#if id}}
    {{id}}
  {{else}}
    Username doesnt exist
  {{/if}}</div>
</div>
<div id="mainSubHeadSeperator"></div>
<div class="subHeadingContainer">
  <div id="subHeading"></div>
  <div id="subHeadingSeperator"></div>
  <div id="subHeadingSide">
    <form action="/" method="get"><button id="register">_Home</button>
    </form>
    <form action="/users/login" method="get"><button id="login">_Login</button>
    </form>
  </div>
</div>

<div id="bodyContainer">
  <div id="bodyMain">

  </div>

  <div id="bodySeperator"></div>
  <div id="bodySide">
     {{>photos-list}}
  </div> 
</div>