
<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Raleway:400,800,700,900,300,100' rel='stylesheet' type='text/css'>


<div class="overlay">
  <div class="wrap">
   <h1>Register Form</h1>
<input type="text" placeholder="Username">
<input type="email"placeholder="Password">
    <input type="submit" value="register">
   
  </div>
</div>


{{!-- STYLES!!! --}}
<style>
  overlay{
    position: blue;
    background: #fff;
    top:0;
    left:0;
    width:100%;
   height:100%;
  }

  h1{
    text-align: center;
    color: #FFF !important;
    margin-top: 20%;
    font: 60px Lobster;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
  }

</style>
