<div id="topLine"></div>
<div id="headContainer">
  <div id="title"></div>
  <div id="titleSeperator"></div>
  <div id="rightTitle"></div>
</div>
<div id="mainSubHeadSeperator"></div>
<img id="backhome" src="http://bit.ly/2gV9USR" alt="">
</div>

<script>
setTimeout(function() {
  window.location = "http://localhost:3000/";
}, 1000)
  
</script>

<style>
  body{
    background-color: red;
  }
</style>