<div id="topLine"></div>
<div id="headContainer">
  <div id="title">_GALLERY_MEMBERS</div>
  <div id="titleSeperator"></div>
  <div id="rightTitle">Our members are dedicated to a photography lifestyle. Our members are dedicated to a photography lifestyle. Our members are dedicated to a photography lifestyle.</div>
</div>
<div id="mainSubHeadSeperator"></div>
<div class="subHeadingContainer">
  <div id="subHeading">Today's Featured User Photo from _bruce</div>
  <div id="subHeadingSeperator"></div>
  <div id="subHeadingSide">
    <form action="/" method="get"><button id="register">_Register</button>
    </form>
    <form action="/users/login" method="get"><button id="login">_Login</button>
    </form>
  </div>
</div>

<div id="bodyContainer">
  <div id="bodyMain">
        <img id="mainPhoto" src="http://bit.ly/2gw5Hbq"></img>
    <div id="mainPhotoHeading">Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.<br><br>This gun is advertised as the most popular gun in American crime.<br><br>This gun is advertised as the most popular gun in American crime. </div>

  </div>

  <div id="bodySeperator"></div>
  <div id="bodySide">
    {{>all-users}}
  </div> 
</div>